@using web.Areas.Management.Models.TeamManagement
@using web.Models
@model TeamInstallDTO

<div class="modal fade" tabindex="-1" id="addinstallmodel" data-keyboard="false" data-backdrop="static">
    @using (Html.BeginForm("SaveInstall", "Install", new { TeamId = ViewData["TeamId"] }, FormMethod.Post, new { @class = "modal-dialog", @enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TeamInstallId)
        @Html.HiddenFor(m => m.Date)
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="install-form-title">Add Install</h4>
            </div>
            <div class="modal-body">
                
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4" })
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title)
                    <br />
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.CoachId, new { @class = "col-md-4" })
                    @Html.DropDownListFor(m => m.CoachId, ((List<TeamUser>)ViewData["Users"]).Select(x => new SelectListItem
               {
                   Text = x.FirstName + " " + x.LastName,
                   Value = x.Id
               }), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CoachId)
                    <br />
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-4" })
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control install-editable-field" })
                    <br />
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Date, new { @class = "col-md-4" })
                    @*@Html.TextBoxFor(m => m.Date, new { @class = "form-control datetimepicker" })*@
                    @Html.TextBox("DateIssue", Model.Date.HasValue ? Model.Date.Value.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "", new { @class = "form-control datetimepicker" })
                    @Html.ValidationMessageFor(m => m.Date)
                    <br />
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Active, new { @class = "col-md-4" })
                    @Html.CheckBoxFor(m => m.Active)
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    }
</div>
